<!DOCTYPE html>
<html>
<head>
  <title>AI Bot Group</title>
</head>
<body>
  <h1>AI Bot Home Page</h1>
  <a href="{{ url_for('page', number=1) }}"><button>1.Main Bot</button></a>
  <a href="{{ url_for('page', number=2) }}"><button>2.Bot</button></a>
  <a href="{{ url_for('page', number=3) }}"><button>3.Bot</button></a>
  <a href="{{ url_for('page', number=4) }}"><button>4.Bot</button></a>
  <a href="{{ url_for('page', number=5) }}"><button>5.Bot</button></a>
  <a href="{{ url_for('page', number=6) }}"><button>6.Bot</button></a>
  <a href="{{ url_for('page', number=7) }}"><button>7.Bot</button></a>
</body>
</html>

